Table{
    font-family: Century gothic;

}

.personal-card-heading {
    background: linear-gradient(90deg,
            #af0202 0%,
            /* Red color */
            rgba(176, 3, 3, 0.58) 66.96%,
            rgba(255, 0, 0, 0) 100%);
    /* Transparent red */
    color: white;
    /* Keep text color as white */

    padding: 3px 40px 0px 14px;
    width: 500px;
    height: 40px;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: 'Century Gothic', sans-serif;
    margin-left: 10px;
    margin-top: -10px;
}


@media print {
    * {
      font-size: 10pt; /* Adjust font size to fit content */
    }
    
    body {
      margin: 0;
      padding: 0;
    }
  
    .export-container {
      width: 100%;
      max-width: 100%;
    }
    
    .form-group {
      margin-bottom: 5px; /* Reduce spacing between form fields */
    }
  
    .page-break {
      break-after: always;
    }

   
        .pdf-page-break {
          page-break-before: always;
          page-break-after: always;
          height: 1px;
          visibility: hidden;
        
      }
      
  }

